/*intro top*/
#main .history-top{
    width: 100%;height: 100vh;
    background: url(../img/intro-bg.png) no-repeat center bottom;
    background-size: 100%;
}
#main .history-top h1{
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 100px;
    color: #333;
}

#main .history-wrap:nth-child(2){
    height: 2000px;
    background: url(../img/main-intro-bg1.svg) center center no-repeat;
    background-attachment: fixed;
}
#main .history-wrap:nth-child(3){
    height: 1500px;
    background: url(../img/main-intro-bg2.svg) center center no-repeat;
    background-attachment: fixed;
}
#main .history-wrap:nth-child(4){
    height: 1200px;
    background: url(../img/main-intro-bg1.svg) center center no-repeat;
    background-attachment: fixed;
}

#main .history-wrap .history-year{
    position: -webkit-sticky;
    position: sticky;
    top: 0;height: 160px;
    background-color: #fff;
    z-index: 2;
}
#main .history-wrap .history-year h1{
    position: relative;top: 60px;
    text-align: center;
    font-size: 70px;color: #333;
}
#main .history-wrap .history-body{
    position: relative;
    width: 1024px; height: 100%;
    margin: 0 auto;
}
#main .history-wrap .history-body .activity{
    position: absolute;top: 0;
    width: 350px;
    color: #555;
    opacity: 0;
    transition: 1.3s
}
#main .history-wrap .history-body .activity:nth-of-type(odd){
    left: 100px;
}
#main .history-wrap .history-body .activity:nth-of-type(even){
    right: 100px;
    text-align: right;
}
#main .history-wrap .history-body .activity:nth-of-type(even):before,
#main .history-wrap .history-body .activity:nth-of-type(odd):after{
    content:'';
    display: block;
    width:150px;height:5px;
    background-color:#444;
    position:absolute;top:50%;transform: translateY(-50%);
    border-radius: 50px;
}
#main .history-wrap .history-body .activity:nth-of-type(odd):after{
    right: -60px;
}
#main .history-wrap .history-body .activity:nth-of-type(even):before{
    left: -60px;
}

#main .history-wrap .history-body .activity:nth-of-type(1){
    top: 185px;
}
#main .history-wrap .history-body .activity:nth-of-type(2){
    top: 500px;
}
#main .history-wrap .history-body .activity:nth-of-type(3){
    top: 800px;
}
#main .history-wrap .history-body .activity:nth-of-type(4){
    top: 1100px;
}
#main .history-wrap .history-body .activity:nth-of-type(5){
    top: 1500px;
}
#main .history-wrap .history-body .activity span{
    font-size: 35px;font-weight: bold;font-style: italic;
    color: #333;
}

#main .history-wrap .history-body .line{
    position: relative;top: 200px;
    margin: 0 auto;
    width: 15px;
    background-color: #333
}
#main .history-wrap .history-body .line:before,
#main .history-wrap .history-body .line:after{
    content: '';
    display: block;
    position: absolute;left: 50%; transform: translate(-50%);
    width: 30px;height: 30px;
    background-color: #fff;
    border: 15px solid #333;
    border-radius: 50px;
}
#main .history-wrap .history-body .line:before{
    top: -10px;
}
#main .history-wrap .history-body .line:after{
    bottom: -10px;
}

#main .history-wrap:nth-child(2) .line{
    height: 1350px;
}
#main .history-wrap:nth-child(3) .line{
    height: 950px;
}
#main .history-wrap:nth-child(4) .line{
    height: 650px;
}

@media all and (min-width:769px) and (max-width:1024px){
    #main .history-wrap:nth-child(2){
        height: 1700px;
    }
    #main .history-wrap:nth-child(3){
        height: 1300px;
    }
    #main .history-wrap:nth-child(4){
        height: 1000px;
    }

    #main .history-wrap .history-year{
        height: 160px;
    }
    #main .history-wrap .history-year h1{
        top: 70px;
        font-size: 62px;
    }
    #main .history-wrap .history-body{
        width: 768px;
    }
    #main .history-wrap .history-body .activity{
        width: 180px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(odd){
        left: 100px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(even){
        right: 100px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(even):before,
    #main .history-wrap .history-body .activity:nth-of-type(odd):after{
        width:80px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(odd):after{
        right: -100px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(even):before{
        left: -100px;
    }

    #main .history-wrap .history-body .activity span{
        font-size: 30px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(1){
        top: 75px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(2){
        top: 390px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(3){
        top: 700px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(4){
        top: 990px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(5){
        top: 1390px;
    }
    #main .history-wrap .history-body .line{
        top: 100px;
        width: 12px;
    }
    #main .history-wrap .history-body .line:before,
    #main .history-wrap .history-body .line:after{
        width: 25px;height: 25px;
        border: 13px solid #333;
    }
}
@media all and (max-width:768px){
    #main .history-top h1{
        font-size: 60px;
    }
    #main .history-wrap:nth-child(2){
        height: 1100px;
    }
    #main .history-wrap:nth-child(3){
        height: 900px;
    }
    #main .history-wrap:nth-child(4){
        height: 750px;
    }

    #main .history-wrap .history-year{
        height: 140px;
    }
    #main .history-wrap .history-year h1{
        top: 70px;
        font-size: 50px;
    }
    #main .history-wrap .history-body{
        width: 100%;
    }
    #main .history-wrap .history-body .activity{
        display: flex;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        max-width: 280px;height: 100px;
        font-size: 15px;
        background-color: #fff;
        box-shadow: 0 0 10px #fff,
            0 0 10px #fff,
            0 0 10px #fff,
            0 0 5px #000;
    }
    #main .history-wrap .history-body .activity:nth-of-type(odd),
    #main .history-wrap .history-body .activity:nth-of-type(even){
        left: 50%;transform: translate(-50%);
        text-align: center;
    }
    #main .history-wrap .history-body .activity:nth-of-type(even):before,
    #main .history-wrap .history-body .activity:nth-of-type(odd):after{
        display: none;
    }

    #main .history-wrap .history-body .activity span{
        font-size: 24px;
        line-height: 1.2;
    }
    #main .history-wrap .history-body .activity:nth-of-type(1){
        top: 55px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(2){
        top: 255px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(3){
        top: 455px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(4){
        top: 655px;
    }
    #main .history-wrap .history-body .activity:nth-of-type(5){
        top: 855px;
    }
    #main .history-wrap .history-body .line{
        top: 80px;
        width: 10px;
    }
    #main .history-wrap .history-body .line:before,
    #main .history-wrap .history-body .line:after{
        width: 20px;height: 20px;
        border: 10px solid #333;
    }
    
    #main .history-wrap:nth-child(2) .line{
        height: 820px;
    }
    #main .history-wrap:nth-child(3) .line{
        height: 620px;
    }
    #main .history-wrap:nth-child(4) .line{
        height: 410px;
    }
}



