#main .login-wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 20px;
}
#main .login-wrap h1{
    text-align: center;
    margin: 30px 0;
}
#main .login-wrap form{
    width: 500px;height: 300px;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid #aaa;
    border-radius: 20px;
}
#main .login-wrap form>div{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    padding: 0 20px;
}
#main .login-wrap form label{
    flex: 1;
    margin: 0 20px;
    color: #333;
}
#main .login-wrap form input{
    flex: 3;
    margin: 0 20px;
    height: 35px;
    outline: none;
    text-indent: 5px
}

#main .login-wrap form .password-box{margin-bottom: 0;}

#main .login-wrap form .link{
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
}
#main .login-wrap form .link li{
    margin-left: 20px;
    text-align: right;
}
#main .login-wrap form .link li a{
    color: #777
}
#main .login-wrap form button{
    display: block;
    width: 200px;height: 45px;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #ff6bc0;
    font-size: 18px; color: #fff;
    border: none;
}
#main .login-wrap .alert{
    display: block;
    height: 25px;
    text-align: center; color: #ff3e3e;
    margin: 10px 0;
}

@media all and (max-width:768px){
    #main .login-wrap h1{
        margin: 20px 0;
    }
    #main .login-wrap form{
        width: 85%;height: 420px;
    }
    #main .login-wrap form>div{
        width:90%; height: 100px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0
    }
    #main .login-wrap form label{
        flex: 1;
        margin: 15px 0;
        display: flex;align-items: center;
    }
    #main .login-wrap form input{
        flex: 1;
        margin: 0;
        width: 100%;
    }

    #main .login-wrap form .password-box{margin-bottom: 10px;}

    #main .login-wrap form .link{
        width: 90%;margin: 0 auto;
        padding: 0;
        justify-content: flex-start;
        font-size: 14px;
        flex-wrap: wrap;
    }
    #main .login-wrap form .link li{
        margin-left: 0;
        margin-right: 20px;
        text-align: left;
    }
    #main .login-wrap form button{
        max-width: 200px;
        width: 80%;
    }
    #main .login-wrap .alert{
        font-size: 14px;
    }
}
